@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/monserrat/MontserratAlternates-Medium.ttf') format('truetype');
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@theme {
  --font-monserrat: 'Montserrat';
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
}
